
#com_newsletter .filtering
    float right
    margin-bottom 40px

#com_newsletter .filtering select
    margin: 0;
    margin-left: 10px;
    color: gray !important;
    background rgb(221, 221, 221)
    background rgba(221, 221, 221, 0.9)

#com_newsletter .filtering .actions input
    height 27px
    background-image url(search.png)
    background-repeat no-repeat
    background-position center center
    /*margin 28px 0 0 0*/

#com_newsletter .filtering .actions
    width auto
    padding 0 10px
    margin 0
    background inherit

#com_newsletter .filtering fieldset label
    font-size: 11px;
    color: #808080;
    font-weight: normal;

#com_newsletter .filtering .tail label
    margin-left: 10px;

#com_newsletter .filtering fieldset > div
    padding: 5px;

#com_newsletter .filtering fieldset legend
    font-size 13px


#com_newsletter .filtering fieldset
    max-width: 550px;
    min-width: 550px;

#com_newsletter .title .select-all span
    margin-left 5px
    vertical-align top

#com_newsletter .title h6
    display inline-block

