#com_newsletter fieldset
    input
        margin:0

#com_newsletter .actions, #com_newsletter fieldset
    width: 410px;

#com_newsletter form .clearfix
    margin-bottom: 5px

#com_newsletter .actions
    background: whiteSmoke;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 7px 0 10px 155px;
    width: 271px;
    border: none;

#com_newsletter .actions.top
    -webkit-border-radius: 3px 3px 0 0
    -moz-border-radius: 3px 3px 0 0
    border-radius:3px 3px 0 0
    border-top: 1px solid #DDD
    padding-left: 10px;
    width 416px

#com_newsletter .actions.bottom
    -webkit-border-radius: 0 0 3px 3px
    -moz-border-radius: 0 0 3px 3px
    border-radius: 0 0 3px 3px
    border-bottom: 1px solid #DDD


#com_newsletter fieldset.details
    label
        width 85px
    .input
        margin-left 100px

#com_newsletter fieldset {
    margin: 5px 1em 0 0;
    padding: 7px !important;
    border: solid 1px #CCC !important;
}

#com_newsletter fieldset + fieldset, #com_newsletter .actions {

}

#com_newsletter .edit form
    margin auto 6em

#com_newsletter fieldset legend {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

#com_newsletter #categories input[type=checkbox], #com_newsletter #languages input[type=checkbox] {
    margin-right: 7px;
}

#com_newsletter fieldset #categories, #com_newsletter fieldset #languages {
    overflow-y: auto;
    max-height: 300px;
    /*margin: 5px auto;*/
}


#categories, #languages
    margin-left: 4px;

#categories label input, #languages label input
    margin-bottom 0
    margin-left -20px
    float left
    margin 3px 0
    border none

#categories label, #languages label
    text-align left
    display inline-block
    float none
    clear none
    padding 0
    width 160px