
.toolsbar
    max-width 400px
    min-width 400px
    padding: 10px 0;
    margin-bottom 40px

.toolsbar .sort-action
    margin-left 6px

.toolsbar select
    display: inline-block;
    width: auto;
    border: 1px solid #CCC;
    color: gray !important;
    background rgb(221, 221, 221)
    background rgba(221, 221, 221, 0.9)

.toolsbar #refresh, .toolsbar #new
    vertical-align: top;

.toolsbar #refresh
    -moz-box-sizing padding-box
    height 27px
    margin-top 0
    background-image url(refresh.png)
    background-repeat no-repeat
    background-position center center